/** Global **/

body {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
}

h1, h2 {
    font-family: 'Zilla Slab', serif;
    /* letter-spacing: 0.1em; */
}

h3, h4 {
    font-family: 'Dosis', sans-serif;
}

h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.4rem;
}

a {
    color: #E48698;
}

header {
    display: flex;
    justify-content: center;
}

.jl-logo {
    border-radius: 25px;
}

main {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.intro-card {
    border: solid;
    border-radius: 25px;
    border-width: 3px;
    border-color: #E48698;
    background-color: #F5F1F1;
    padding: 25px;
    margin: 25px;
    /* margin: auto; */
    text-align: center;
    width: 40%;
    display: flex;
    justify-content: center;
    color: #202020;
}

.portfolio-div-intro {
    display: flex; 
    flex-direction: column;
    width: 67%;
    height: auto;
    text-align: left;
    margin: auto;
}

.logo-container {
    width: 33%;
    height: auto;
    margin: auto;
}

.site-card {
    /* border-color: #F96C85; */
    background-color: #F5F1F1;
    border-radius: 25px;
    /* border-width: 10px; */
    border: solid;
    padding: 15px;
    margin: 15px;
    width: 30%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    color:#202020;
    border-color: #E48698;
};

.site-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.live-page-button {
    border-radius: 25px;
    border: solid;
    border-width: 3px;
    border-color: #E48698;
    padding: 15px;
    width: 25%;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 25px auto;
    text-decoration:none;
    font-family: 'Dosis', sans-serif;
    color: #E48698;
}

.screenshot {
    width: 90%;
    height: auto;
}

#rainy-days-screenshot {
    width: 95%;
    min-height: 255px;
}

.footer-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    background-color: #F5F1F1;
    border: solid;
    border-radius: 25px;
    border-color: #E48698;
    border-width: 3px;
    width: 40%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

#submit-button {
    padding: 10px;
    border: solid;
    border-radius: 25px;
    border-width: 3px;
    margin: 10px;
    background-color: #FFFFFF;
    border-color: #E48698;
    width: 100px;
    height: auto;
    font-size: 1.5rem;
    font-weight:bolder;
    font-family: 'Dosis', sans-serif;
    color:#E48698;
}

#full-name, #email-input, #contact-message {
    padding: 10px;
    border: solid;
    border-radius: 25px;
    border-width: 3px;
    margin: 10px;
    border-color: #E48698;
    width: 250px;
    height: auto;
    font-size: 1.2rem;
    text-align: center;
    color:#E48698;
    font-weight: 598;
    opacity: 100%;
}

#contact-message {
    height: 250px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}